.top-section {
  padding: 1rem 3rem;
  border-bottom: solid;
  border-width: 2px;
  border-color: rgb(232, 228, 228);
}

.top-section h4 {
  color: #d6760f;
  font-weight: 700;
}

.middle-section {
  padding: 4px;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
}

.middle-section p {
  font-weight: 600;
  font-size: 1.2rem;
}

.middle-section span {
  font-weight: 600;
  padding: 5px;
}

.main-section {
  padding: 0rem 1rem 2rem 2rem;
}

.small-n {
  color: "red" !important;
}

.site-layout-background {
  background-color: "red" !important;
}

.group-box {
  display: flex;
  justify-content: space-between;

  div:nth-child(1) {
    background-color:rgba(13, 255, 223);
    color: white;
    font-size: 35px;
    font-weight: 800;
  }

  div:nth-child(2) {
    background-color: rgba(255, 13, 122);
    color: white;
    font-size: 35px;
    font-weight: 800;
  }

  div:nth-child(3) {
    background-color:rgba(192, 156, 255);
    color: white;
    font-size: 35px;
    font-weight: 800;
  }
  div:nth-child(4) {
    background-color: rgba(158, 247, 159);
    color: white;
    font-size: 35px;
    font-weight: 800;
  }


  div {
    flex: 1;
    text-align: center;
    min-width: 200px;
    margin: 3px;
    border-radius: 12px;
    transition: transform 0.2s;

    p{
      font-size: medium;
      font-weight: 700;
    }
    // &:hover {
    //   transform: scale(1.05);
    // }
  }
}
