.menu-toggler{
  cursor: pointer;
  transition-duration: 300ms;
  position: relative;
  left: -20px;
  bottom: -32px;
  padding: 2px 6px 6px 7px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  color: rgb(29, 29, 29);
  font-size: 20px;
  box-shadow: 2px 4px 11px -6px rgba(0,0,0,0.52);
  -webkit-box-shadow: 2px 4px 11px -6px rgba(0,0,0,0.52);
  -moz-box-shadow: 2px 4px 11px -6px rgba(0,0,0,0.52);
}

.menu-items {
  flex: 1 !important; /* Take up remaining space */
  display: flex !important;
  flex-direction: column !important;
}

.logout {
  border-top: 1px solid  rgb(115, 115, 115);
  border-bottom: 1px solid rgb(115, 115, 115);
  padding: 8px !important;
  background-color: #001529 ;
  color: white;
  cursor: pointer;
}